/* Intera Pagina */
.gestore-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}
  
/* Barra superiore */
.gestore-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gestore-top-bar span { /* Nome gestore*/
  font-size: 16px;
  margin-right: 20px;
}
.gestore-termina-turno { /* Pulsante Termina Turno */ 
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.gestore-sinistra { /*Per separare Nome Gestore*/
  flex: 1;
}
.gestore-destra { /*da "Ore Lavorate" e "Termina Turno"*/
  display: flex;
  align-items: center;
  gap: 20px;
}
  
/* Selettore (Home/Operai/Mucche)*/
.gestore-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}
.gestore-nav button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  border: 2px solid gray;
  background-color: white;
  cursor: pointer;
}
.gestore-nav .attivo {
  border: 2px solid black; /*Evidenzia attuale*/
}
  
/* Tabella */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
table tr {
  background-color: white;
}

  
/* Titoli Sezioni */
h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
  
/* MODIFICHE (Aggiungi Mucca/Modifica Dati Mucca/Elimina Mucca)*/
.gestore-modifiche {
  margin-top: 15px;
}
.gestore-modifiche button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}
/* Overlay dei POPUP */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
/* Popup */
.popup {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
}
.popup h3 {
  margin-bottom: 15px;
}
.popup input, .popup select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}
.popup button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}
.gestore-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabella-scroll {
  max-height: 300px; 
  overflow-y: auto;
  border: 1px solid #d3c6a6;
  border-radius: 8px;
}


.intestazione-tabella {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.campo-ricerca {
  display: flex;
  gap: 8px;
}

.campo-ricerca input {
  padding: 5px;
  font-size: 14px;
}

/* Evidenziazione parola specifica */
mark {
  background-color: #fffd75 !important; /* giallo ben visibile */
  font-weight: bold;
  padding: 0 2px;
  border-radius: 3px;
}

